.gallery{
  display: inline-flex;
  flex-wrap: wrap;
  width: 600px;
  height: 450px;
  margin-top: 3em;
  justify-content: center;
}

.gallery p{
  background-color: rgb(155, 241, 241); 
  border-radius: 20px;
  padding-top: 1em;
}

.gallerycard{
  flex-basis: 50%; 
}

.delete{
  font-weight: bold; 
  margin-top: 1em; 
  margin-bottom: 2em;
}
.delete:hover{
  color:blue ;
}
.allimages {
  width: 20em;
  border-radius: 10px;
}

